.App {
  font-family: sans-serif;
  text-align: center;
}
.center-container {
  display: flex;
  justify-content: center; 
  
}
/* Background Colour */
.bg-sky {
  background-color: #75C6E2;
}
.bg-lowsky {
  background-color: #97DCe8;
}
 /* Flower Background Styles */
.flower-bg {
  min-height: 100vh;     
  width: 100%;
  background-size: cover; 
  background-position: center bottom; 
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: relative;     
  overflow: hidden;  
}

.scroll-area::-webkit-scrollbar {
  width: 10px;
}

.scroll-area::-webkit-scrollbar-track {
  background: #0dcaf0;
}

.scroll-area::-webkit-scrollbar-thumb {
  background: #0aa2c0;
  border-radius: 10px;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background: #087990;
}

.scroll-area {
  scrollbar-width: thin;
  scrollbar-color: #0aa2c0 #0dcaf0;
}
/* Seed and Sprout Animations */
@keyframes seed-wiggle {
  10% {
    transform: translateX(-50%) rotateZ(0deg);
  }
  20% {
    transform: translateX(-50%) rotateZ(-10deg);
  }
  40% {
    transform: translateX(-50%) rotateZ(10deg);
  }
  60% {
    transform: translateX(-50%) rotateZ(-10deg);
  }
  80% {
    transform: translateX(-50%) rotateZ(10deg);
  }
  100% {
    transform: translateX(-50%) rotateZ(0deg);
  }
}
@keyframes sprout-wiggle {
  10% {
    transform: translateX(-50%) rotateZ(0deg);
    transform-origin: center bottom;
  }
  20% {
    transform: translateX(-50%) rotateZ(-2deg);
    transform-origin: center bottom;
  }
  40% {
    transform: translateX(-50%) rotateZ(2deg);
    transform-origin: center bottom;
  }
  60% {
    transform: translateX(-50%) rotateZ(-2deg);
    transform-origin: center bottom;
  }
  80% {
    transform: translateX(-50%) rotateZ(2deg);
    transform-origin: center bottom;
  }
  100% {
    transform: translateX(-50%) rotateZ(0deg);
    transform-origin: center bottom;
  }
}
/* Flower Stem and leaves Sway Animations */
 @keyframes sway-left {
  0%   { transform: translateX(-45%) rotate(0deg); }
  25%  { transform: translateX(-45%) rotate(3deg); }
  50% { transform: translateX(-45%) rotate(0deg); }
  75% { transform: translateX(-45%) rotate(-3deg); }
  100% { transform: translateX(-45%) rotate(0deg); }
}

@keyframes sway-right {
  0%   { transform: translateX(-51%) rotate(0deg); }
  25%  { transform: translateX(-51%) rotate(2deg); }
  50% { transform: translateX(-51%) rotate(0deg); }
  75% { transform: translateX(-51%) rotate(-2deg); }
  100% { transform: translateX(-51%) rotate(0deg); }
}
@keyframes stage3 {
  0%   { transform: translateX(-50%) rotate(0deg); }
  25%  { transform: translateX(-50%) rotate(1deg); }
  50% { transform: translateX(-50%) rotate(0deg); }
  75% { transform: translateX(-50%) rotate(-1deg); }
  100% { transform: translateX(-50%) rotate(0deg); }
}

.stem-group {
  position: absolute;
  left: 46%;
  bottom: 0px;
  transform: translateX(-50%);
  transform-origin: center bottom;  
  animation: stage3 10s ease-in-out infinite;
}
